<canvas id="matrix-canvas"></canvas>
                <div class="app-terminal" id="term-${containerId}">
                    <div class="term-line">UltronOS Terminal v1.0</div>
                    <div class="term-line">Type 'help' for available commands.</div>
                    <div id="term-out-${containerId}"></div>
                    <div class="term-input-line">
                        <span>PS C:\\Ultron&gt;</span>
                        <input type="text" id="term-in-${containerId}" autocomplete="off" spellcheck="false">
                    </div>
                </div>